body {
	width: 1440px;
	height: 1737px;
	background-color: #F6F8F9;
}

.heder-page1 {
	vertical-align: middle;
	position: fixed;
	z-index: 2000;
	width: 100%;
	background-color: #F6F8F9;
    margin-bottom: 80px;
	
}

.logo {
	vertical-align: middle;
	margin-right: 92px;
	padding: 18px 0 17px 20px;
}

.nav-box2 {
	display: inline-block;
	vertical-align: middle;
}

.nav-bold {
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
	font-size: 11px;
	color: #202124;
	font-family: 'Inter', sans-serif;	
}

.nav-class {
	display: inline-block;
	vertical-align: middle;
	margin-right: 22px;
	font-size: 11px;
	color: #A6ADB4;
	font-family: 'Inter', sans-serif;
}

.photo-img	{
	display: inline-block;
	vertical-align: middle;
	margin-left: 18px;
}

    /* scetion start1*/

.cection1-div1 {
	width: 0 auto;
	height: 493px;
	padding-top: 80px;
}

.section1-h3 {
	font-size: 24px;
	color: #202124;
	padding: 0 0 40px 140px;
}

.cection1-div2 {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	margin: 0 35px 0 140px;
}
.cection1-div3 {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
	margin-right: 35px;
}


.cection1-div4 {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 360px;
	height: 350px;
	background-color: #FFFFFF;
}


.img-photo1 {
	width: 360px;
	height: 180;
	margin-bottom: 65px;

}

.img-text {
	width: 220px;
	height: 16px;
	position: absolute;
	top: 20px;
	left: 40px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;	
}


.div-text1 {
	width: 360px;
	height: 170px;
	margin-left: 40px;

}

.div-text-p {
	font-size: 13px;
	color: #A6ADB4;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

.div-text-p2 {
	font-size: 13px;
	color: #A6ADB4;
	font-family: 'Open Sans', sans-serif;

}

.clock-img {
	vertical-align: middle;
	margin-right: 10px ;
	margin-top: 10px;

}

.div-clock {
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	margin-top: 8px;
	color: #A6ADB4;
	font-family: 'Open Sans', sans-serif;
}

    /* section end1


    /*section start 2*/

.h3-section2 {
	font-size: 24px;
	color: #202124;
	margin: 53px 0 40px 140px;
}

.img-div {
	display: inline-block;
	vertical-align: middle;
	padding: 0 40px 0px 140px;
	margin-bottom: 37px;	
}

.image-div {
	display: inline-block;
	vertical-align: middle;
	width: 360px;
	height: 896px;
	margin-bottom: 37px;
}


.bridge-img {
	position: relative ;
	margin-bottom: 40px;
}

.position-center {
	position: absolute ;
	width: 280px;
	height: 17px;
	font-size: 16px;
	color: #FFFFFF;
	top: 50%;
	left: 50%;
	transform: translate(50,-50);
	left: 40%;
	transform: translate(-50,-50);
	font-family: 'Open Sans', sans-serif;
}

.Forest-img {
	width: 760px;
	height: 430px;
	
}

.elephant {
	margin-bottom: 102px;
}

.parrot {
	margin-bottom: 102px;
}

    /*section end 2*/


   /* footer start*/

footer {
	height: 200px;
	width: 0 auto;
	
	background-color: #A6ADB4;
}   

.div-parent {
	display: inline-block;
	width: 600.09px;
	height: 84px; 
	padding: 52px 0 0 140px; 
}

.div-parent-img {
	display: inline-block;
	vertical-align: top;
	width: 37px;
	height: 13px;
	margin-right: 89px;

}

.footer-div1 {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 107px;
	margin-right: 71px;
}


.li-child {
	font-size: 13px;
	color: #CBD0D3;
	margin-bottom: 9px;
	font-family: 'Inter', sans-serif;
}

.footer-div2 {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 107px;
}

.footer-farent2 {
	display: inline-block;
	vertical-align: middle;
	/*width: 650px;*/
	/*height: 15px;*/
	padding: 33px 0 133px 140.9px;
}

.footer-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	color: #CBD0D3;
	font-family: 'Inter', sans-serif;
}

.footer-icons {
	display: inline-block;
	vertical-align: middle;
	padding-left: 165.2px;
}

.img-icons {
	margin-left: 32px;
}


	






/*footer end*/
